html,
body {
    margin: 0;
    padding: 0;
    background-color: #1F0536;
}

canvas {
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#wrapper {
    width: 1100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 5px;

}

.health {
    float: left;
    border: solid white;
    border-width: 1px;
    height: 35px;
    width: 50%;
    margin-bottom: 5px;
}

.currentHealthState {
    background: -webkit-linear-gradient(left, red, green);
    height: 100%;
}

#score {
    float: right;
    color: white;
    font-size: 2em;
}

#game-over,
#game-over-overlay {
    margin: auto;
    width: 1100px;
    height: 500px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    font-family: 'Rock Salt', cursive;
}
span{
    font-family: sans-serif;
}

#play-again {
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 110px;
    background: url('../img/play.png');
    border-radius: 50%;
    outline: none;
}

#play-again:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#game-over {
    height: 200px;
    text-align: center;
    color: white;
}

#game-over h1 {
    
    font-size: 4em;
    color: #4D038D;
    position: relative;
    bottom: 110px;
}

#game-over button {
    font-size: 1.5em;
}
