@font-face {
    font-family: OswaldRegular;
    src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: OswaldLight;
    src: url(../fonts/Oswald-Light.ttf);
}

@media screen and (max-width: 990px) {
    body,
    html {
        font-size: 8px;
    }
}

section:not(:last-child) {
    margin-bottom: 2.5rem;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
button {
    outline: none;
}

body,
html {
    font-family: Lato, sans-serif;
    font-size: 10px;
    margin: 25px 0 0;
    overflow-x: hidden;
    padding: 0;
}

body {
    background: url("../images/backgroundImage.jpg") no-repeat center center fixed;
    background-size: cover;
}

.header .navbar {
    background-color: #012F30;
    color: #e7e7e7;
    font-size: 1.3rem;
    min-height: 0;
    text-transform: uppercase;
}

.header .navbar-toggle {
    padding: 0;
}

.header .navbar-brand {
    font-size: 2rem;
    line-height: 30px;
    min-height: 62px;
    padding: 0;
}

.header .navbar-brand img {
    float: left;
    height: 30px;
    margin: 15px 0;
    width: 30px;
}

.header .navbar-brand p {
    float: right;
    height: 100%;
    margin-left: 10px;
}

.header a {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 35px;
    min-height: 62px;
    text-transform: uppercase;
}

.header .navbar a:hover,
.header .navbar-right .active {
    background-color: #F44336;
}

.header .navbar .brandLink a:hover {
    background-color: transparent;
}

.mainLogo {
    padding: 0;
    position: relative;
}

.mainLogo img {
    display: none;
    width: 100%;
}


/*
.mainLogo .title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #575252;
    text-align: center;
    width: 100%;
}

.mainLogo .companyName {
    font-family: 'Ubuntu', sans-serif;
    ///////imort ubunto font 
    font-weight: 600;
    font-size: 13.4rem;
    line-height: 4.5rem;
    color: #ffffff;
}

.mainLogo .companyTitle {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 4.5rem;
    color: #ffffff;
    margin-top: 14rem;
}
*/

.crossLine {
    color: black;
    font-family: OswaldRegular;
    font-size: 3rem;
    font-style: italic;
    padding: 7rem;
    position: relative;
    text-align: center;
}

.coralAccent {
    background-color: #F44336;
}

.whiteAccent {
    background-color: #ECECEC;
}

.grayAccent {
    background-color: #012F30;
}

.articleSection {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.articleSection h1 {
    font-family: OswaldRegular;
    font-size: 3.6rem;
    padding: 0 40px;
}

.articleSection h3 {
    border-color: #F44336;
    border-style: solid none;
    border-width: 0 0 1px 0;
    color: #202628;
    font-size: 2.1rem;
    padding: 10px 40px;
    text-transform: uppercase;
}

.articleSection .article {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

#services button {
    background-color: #F44336;
    border-radius: 50px;
    color: #fff;
    font-size: 0.4rem;
    margin-top: 10px;
    padding: 0;
    padding: 1px 30px 0px 0px;
    width: 92px;
}

.articleSection .col-md-12 {
    padding-left: 0
}

.glyphicon {
    font-size: 2.5rem;
}

#share-buttons img {
    border: 0;
    box-shadow: 0;
    display: inline;
    width: 5.5rem;
}

#copy img {
    padding: 0;
}

#share-buttons img:hover {
    transform: scale(1.1, 1.1)
}

#share-buttons #copy {
    border-radius: 50%;
    padding: 0;
}

#map {
    background-color: grey;
    height: 400px;
    width: 100%;
}

.contacts .row {
    border-width: 0 0 1px;
    border: solid #e7e7e7;
    padding: 30px 0;
}

.contacts .row:first-of-type {
    border-top-width: 1px
}

.contacts .contact-info .glyphicon {
    font-size: 2rem;
}

.contacts .contact-info h3 {
    color: #F44336;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 0;
}

.contacts .contact-info address {
    margin: 0
}

.contacts .contact-info address a {
    color: #767c7e;
    font-family: 'Lato Black', sans-serif;
    font-size: 2rem;
}

.contacts a:hover {
    text-decoration: underline;
}

.contacts .contact-info .row:last-of-type {
    padding: 34px 0
}

.footer {
    margin-top: 10px;
}

.footer .copyright {
    color: #e7e7e7;
    font-family: OswaldRegular;
    font-size: 1.8rem;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
}
