html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #e1e1e1;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.youtubeLogo {
    float: left;
    padding-left: 5%;
}

.searchStatusBar {
    background-color: #d32f2e;
    height: 80px;
}

.searchBar {
    background-color: #f54337;
    height: 50%;
    padding: 10px 0;
}

#search {
    display: block;
    height: 30px;
    margin: 0 auto;
    width: 80%;
}

#navigation {
    height: 48px;
    left: 50%;
    overflow-x: scroll;
    position: fixed;
    transform: translate(-50%, 0%);
}

.dot {
    background-color: #d32f2e;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    position: relative;
    text-align: center;
    width: 30px;
}

.active {
    background-color: #F54318;
}
