<div class="categories-list" ng-controller="CategoriesController as category">
  <a ui-sref="home.categories({id:cat._id})" ng-repeat="cat in category.categories" class="category-item" selectable-directive>
    {{cat.title}}
    <span class="glyphicon glyphicon-option-vertical category-options" category-options></span>
    <ul class="category-options-container">
      <li ng-click="category.editCategory(cat)">Edit</li>
      <li ng-click="category.deleteCategory(cat)">Delete</li>
    </ul>
  </a>
</div>

<div id="modal-category" class="modal" role="dialog" ng-controller="CategoriesController as category">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" modal-hide>&times;</button>
        <h4 class="modal-title">Create New Category</h4>
      </div>
      <form class="form-group add-category-input" ng-submit="category.addCategory()">
        <div class="modal-body">
          <input type="text" class="form-control" placeholder="Category Name" autocomplete="on" ng-model='category.title'>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" modal-hide>Cancel</button>
          <button type="submit" class="btn btn-primary" modal-hide>Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
