<div ng-controller="HomeController as home">
  <div class="home-header">

  </div>
  <div class="home-body">
    <div class="home-aside">
      <div class="home-aside-header">
        <div class="burger-menu opened" toggle-directive>
          <i class="glyphicon glyphicon-align-justify">
          </i>
        </div>
        <div class="home-aside-header-container">

        </div>
      </div>
      <div class="home-aside-body">
        <div class="home-aside-body-burger-line">

        </div>
        <div class="home-aside-body-container">
          <div class="category-block-title">
            <h4>Categories</h4>
          </div>
          <div categories-directive></div>
        </div>
      </div>
      <div class="add-category" title="Add category" modal-show>
        <p><span class="glyphicon glyphicon-plus"></span> Create New Category</p>
      </div>
    </div>
    <div class="home-container">
        <ui-view></ui-view>
    </div>
  </div>
</div>
