<section>
	<div class="row">
		<div class="col-md-4">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Curse name or Data" [(ngModel)]="searchValue">
				<span class="input-group-btn">
				<button (click)='onFindClick()' class="btn btn-primary" type="button">Find</button>
			</span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="input-group">
				<span class="input-group-btn">
				<button class="btn btn-primary" type="button" (click) = "openPopup()">Add Course</button>
			  </span>
			</div>
		</div>
	</div>
</section>
<app-popup *ngIf="isAddingNewCourse" header="Add new Course">
	<form [formGroup]="editForm" (ngSubmit)="addNewCourse(editForm.value)" class="clearfix">
		<div class="form-group">
			<label for="courseNameInput">Name</label>
			<input type="text" class="form-control" id="courseNameInput" formControlName="name">
		</div>
		<div class="form-group">
			<label for="courseNameInput">Description</label>
			<input type="text" class="form-control" id="courseDescriptionInput" formControlName="description">
		</div>
		<div class="form-group">
			<label for="courseNameInput">Creation Date</label>
			<input type="date" class="form-control" id="courseCreationDateInput" formControlName="creationDate">
		</div>
		<div class="form-group">
			<label for="courseNameInput">Duration</label>
			<input type="text" class="form-control" id="courseDurationInput" formControlName="duration">
		</div>
		<div class="controllers pull-right">
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="close" class="btn btn-primary" (click)="closePopup()">Close</button>
		</div>
	</form>
</app-popup>
