@import "variables";
$selected-item-color: #C0E7F3;

#modal-category {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modal-dialog {
    width: 300px;
  }

  .modal-header {
    text-align: center;
    color: #000000;
    font-size: 1.5rem;
  }

  .modal-body {}

  .modal-footer {}
}

.categories-list {
  width: 100%;

  .category-options-container {
    border-radius: 2px;
    border: 1px solid #000000;
    // box-shadow: 0 0 2px #000000;
    display: none;
    position: absolute;
    right: -55px;
    top: 30px;
    background: #ffffff;
    z-index: 999;
    min-width: 60px;
    min-height: 40px;
    color: #000000;
    padding: 0;
    list-style: none;

    li {
      width: 100%;
      border-top: 1px solid #000000;

      &:hover {
        background-color: $selected-item-color;
      }
    }

    li:first-child {
      border-top: none;
    }
  }

  .category-item {
    text-decoration: none;
    display: block;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 5px 5px 5px 20px;
    height: 40px;
    text-align: left;
    color: #000000;
    font-size: 1.6rem;
    line-height: 40px;
    cursor: pointer;

    .category-options {
      float: right;
      line-height: 30px;
    }

    &:hover {}
  }

  .selected {
    background: $selected-item-color;
  }
  // .category-item:first-child {
  //   border-top: 1px solid #000000;
  // }
}
